@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


/*header parte principlal de la pagina*/

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(mediossss/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh ;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFDFC;
    font-size: 25px ;
    font-weight: 800;
    padding: 15px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px ;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #ce967b;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
 
.header-content{
    text-align: center;
}

.header-content h1{
    font-size:65px ;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.boton{
    display: inline-block;
    padding: 11px 25px;
    background-color: #CE9678 ;
    color: #F9FAFC;
    text-transform: uppercase;
    border: 0 solid;
    border-radius: 25px;
}

.boton:hover {
    background-color: #b4724e;
}

.letradetitulo{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:  weight ;
    font-style: normal;
}


/*informacion sobre la pagina*/

.caffe{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.caffe-content{
    text-align: center;
}

.caffe-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.texto-p{
    font-size: 14px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.caffe-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.caffe-1{
    padding: 0 25px;
}

.caffe-1 img{
    width: 200px;
}

.caffe-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}


/* parte de servicios */

.disfruta{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(mediossss/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.disfruta-content {
    text-align: center;
}

.disfruta-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.disfruta-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.disfruta-nosotros{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.disfrutade-1{
    padding: 0 100px;
}

.disfrutade-1 img{
    width: 25px;
    margin-bottom: 15px;
}

.disfrutade-1 h3{
    color: #eaccb3;
    font-size: 18px;
}

/* general */

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2{
    background-image: url(mediossss/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(mediossss/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

/* distintas ubicacionde las cafeterias cafe la quebrada*/


.ubicacion {
    padding: 100px 0;
    text-align: center;
}

.ubicacion-content{
    display: flex;
    justify-content: space-between;
}

.ubicaciones-1{
    padding: 15px 55px;
}

.ubicaciones-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ubicaciones-1 h3{
    font-size: 25px;
    color:#323337;
}

/*footer parte de abajo de la pagiana*/

.footer{
    padding: 100px 0;
    background-color: #000000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}


.link h3{
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}
.link li{ 
    color: #C5C5C5;
    padding: 10px;
}


.li :hover{
    color: #b4724e;
}


/* tradicion, politicas de privacidad, informacion sobre el tipo de cafe */ 
.conoceunpocomas{
    text-align: center;
    margin: 20px ;
    padding: 15px;
}

.parrafo{
    color: #414247;
    padding: 0;
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.titulotradicion{
    text-align: center;
    color: #5a4d3a;
    font-size: 45px;
    padding: 30px 0;
    margin: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*iniciar sesion*/
.colordefondo{
    background-color: #bcbdc0;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background:#ffffff;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding:  10px ;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 5px 40px;
    box-sizing: border-box;
}

form .usurname{
    position: relative;
    border-bottom: 2px solid #543A14;
    margin: 30px 0;
}

.usurname input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.usurname label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.usurname span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #000000;
    transition: .5s;
}

.usurname input:focus ~ label,
.usurname input:focus ~ label{
    top: -5px;
    color: #000000;
}

.usurname input:focus ~ span::before,
.usurname input:focus ~ span::before{
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: #543A14;
    cursor: pointer;
    outline: none;
} 

/* es la parte de hacelo en tamaño de telefono / responsive */ 

@media(max-width:991px) {

    .menu{
        padding: 30px;
    }

    .menu label{ 
        display: inline;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        position: relative;
        float: left;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .h1{ 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menu:checked ~ .navbar{ 
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 0px;
    }

    .header-content p{
        padding: 30px;
        margin: 30px;
    }

    .caffe{
        padding: 30px;
    }

    .caffe-content h2{
        padding: 0;
    }

    .texto-p{
        padding: 0;
    }

    .caffe-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .caffe-img{
        display: none;
    }

    .disfruta{
        padding: 30px;
    }

    .disfruta-content p {
        padding: 0;
    }

    .disfruta-nosotros{
        flex-direction: column;
        margin-bottom: 0;
    }

    .disfrutade-1{
        margin-bottom: 30px;
    }

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2 .general-3{
        display: none;
    }

    .ubicacion{
        padding: 30px;
    }

    .ubicacion-content{
        flex-direction: column;
    }

    .ubicaciones-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

}